@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: #fff;
}

.cabecalho {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    background: #141034;
    padding: 20px;
    border-bottom: 0.4px solid #888;
}

#cabecalho-menu-item:hover {
    color:#a87dff;
    text-shadow: 3px 3px 7px #e0e0e048;
    font-weight: 700;
}

.cabecalho-menu {
    display: flex;
    gap: 28px;
}

.cabecalho-menu-item {
    font-family: 'Montserrat', sans-serif;
    color: #e8e8e8;
    font-weight: 400;
    font-size: 15px;
}

.conteudo {
    display: flex;
    margin-bottom: 70px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 0px;
    gap: 50px;
}

.conteudo-titulo {
    display: flex;
    flex-direction: row;
    justify-content:start;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-weight: 600;
    font-size: 19px;
    padding-bottom: 15px;
    padding-left: 80px;
    padding-top: 35px;
}

.conteudo-subtitulo {
    display: flex;
    flex-direction: row;
    justify-content: start;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-weight: 400;
    font-size: 17px;
    padding-left: 80px;
}

table, th, td {
    border-collapse: collapse;
    padding: 15px;
    text-align: center;
}

th {
    color:#fff;
    background-color: #333333d3;
}

.titulo-carteira {
    display: flex;
    flex-direction: row;
    justify-content: start;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 10px;
}

    #celula-ativo {
        border-radius: 0px 0px 0px 10px;
    }

    #celula-saldo-atual {
        border-radius: 0px 0px 10px 0px;
    }

    #celula-saldo {
        border-radius: 10px 0px 0px 0px;
    }

    #celula-saldo-valor {
        border-radius: 0px 10px 0px 0px;
        box-shadow: -0px 1px 10px 1px #00000034;
        color: #a87dff;
        text-shadow: 1px 3px 7px #000;
    }

.dstk:hover {
    background-color: #141034;
    box-shadow: 0px 3px 5px 1px #00000034;
    border-radius: 5px;
    color:#a87dff;
}

.dstk2:hover {
    background-color: #141034;
}

.celula2 {
    border-collapse: collapse;
}

.tabela {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-left: 15px;
    padding-top: 10px;
}

.titulo-cadastro {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding-bottom: 10px;
}
.conteudo-cadastro {
    display: flex;
    flex-direction: column;
    background:#333333d3;
    gap: 5px;
    padding: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: start;
    color:#fff
}

.conteudo-cadastro {
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 10px 10px 1px #00000034;
}

form input, form textarea {
    padding: 5px;
    border: 1px solid #888;
    border-radius: 5px;
    box-shadow: 0px 1px 3px 1px #0000002c;
}

select {
    display: flex;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

.datacom {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
}

.botoes {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background-color: #999;
}

.botoes:hover {
    background-color: #a87dff;
    box-shadow: -1px 1px 10px 3px #000000;
    color: #fff;
    text-shadow: 3px 3px 7px #000;
}

.selecao {
    font-family: 'Montserrat', sans-serif;
    color: #000;
}

.rodape {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #141034;
    padding: 20px;
    padding-top: 12px;
    border-top: 0.4px solid #888;
}
    .siga {
        display:flex;
        flex-direction: row;
        justify-content: center;
        gap: 8px;
        padding-bottom: 5px;
        padding-top: 2px;
    }

.rodape-menu-item {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 11px;
}

    #rodape-menu-logo {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
    padding-bottom: 10px;
    }