@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: #fff;
    animation: dark-to-light 0.3s ease-in-out;
}

.logo:hover {
    transform:scale(1.03);
}

#logonav {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: #141034;
    padding: 20px;
    padding-left: 10em;
    gap: 8em;
}

.cabecalho {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #141034;
    padding: 20px;
    padding-right: 5em;
}

#mode-icon {
    cursor: pointer;
    font-size: 18px;
    text-shadow: 1px 3px 7px #3f3f3fc4;
}

#mode-icon:hover {
    transform: scale(1.2);
}

#cabecalho-menu-item a:hover {
    color:#a87dff;
    text-shadow: 3px 3px 7px #e0e0e048;
}

.cabecalho-menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.cabecalho-menu > li {
    margin: 0 1rem;
    overflow: hidden;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

.cabecalho-menu-item a {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    text-shadow: 1px 3px 7px #000;
}

.conteudo {
    display: flex;
    margin-bottom: 70px;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 0px;
    gap: 50px;
}

.conteudo-titulo {
    display: flex;
    flex-direction: row;
    justify-content:start;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-weight: 600;
    font-size: 19px;
    padding-bottom: 15px;
    padding-left: 80px;
    padding-top: 35px;
}

.conteudo-subtitulo {
    display: flex;
    flex-direction: row;
    justify-content: start;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-weight: 400;
    font-size: 17px;
    padding-left: 80px;
}

table, th, td {
    border-collapse: collapse;
    padding: 15px;
    text-align: center;
}

th {
    color:#fff;
    background-color: #333333d3;
}

.titulo-carteira {
    display: flex;
    flex-direction: row;
    justify-content: start;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 10px;
}

    #celula-ativo {
        border-radius: 0px 0px 0px 10px;
    }

    #celula-saldo-atual {
        border-radius: 0px 0px 10px 0px;
    }

    #celula-saldo {
        border-radius: 10px 0px 0px 0px;
        text-align: start;
        padding-left: 25px;
    }

    #celula-saldo-valor {
        border-radius: 0px 10px 0px 0px;
        box-shadow: -0px 1px 10px 1px #00000034;
        color: #a87dff;
        text-shadow: 1px 3px 7px #000;
    }

.dstk:hover {
    background-color: #141034;
    box-shadow: 0px 3px 5px 1px #00000034;
    border-radius: 5px;
    color:#a87dff;
}

.celula2 {
    border-collapse: collapse;
}

.tabela {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-left: 15px;
    padding-top: 10px;
}

.titulo-cadastro {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding-bottom: 10px;
}
.conteudo-cadastro {
    display: flex;
    flex-direction: column;
    background:#333333d3;
    gap: 5px;
    padding: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: start;
    color:#fff
}

.conteudo-cadastro {
    border-radius: 8px;;
    box-shadow: 10px 10px 10px 1px #00000034;
}

form input, form textarea {
    padding: 5px;
    border: 1px solid #888;
    border-radius: 5px;
    box-shadow: 0px 1px 3px 1px #0000002c;
}

select {
    display: flex;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

.datacom {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
}

.datacom:hover {
    background-color: #efe6ff;
}

.botoes {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background-color: #999;
    padding: 7px;
    cursor: pointer;
    border: none;
    animation: btn-dark-to-light 0.3s ease-in-out;
}

.botoes:hover {
    background-color: #a87dff;
    box-shadow: -1px 1px 10px 3px #000000;
    color: #fff;
    text-shadow: 3px 3px 7px #000;
    transform: scale(1.05);
    font-weight: 700;
}

.selecao {
    font-family: 'Montserrat', sans-serif;
    color: #000;
}

.rodape {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #141034;
    padding: 20px;
    padding-top: 12px;
}
    .siga {
        display:flex;
        flex-direction: row;
        justify-content: center;
        gap: 8px;
        padding-bottom: 5px;
        padding-top: 2px;
    }

#followicon {
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: center;
}

.rodape-menu-item {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 11px;
}

    #rodape-menu-logo {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
    padding-bottom: 10px;
    }

    #resultado {
        background-color: #e4e4e4;
    }

/* Começo do Dark Mode */

.dark#login-form {
    color: #a87dff;
    background-color: #222;
    animation: light-to-dark 0.3s ease-in-out;
}

.dark .conteudo-titulo, .conteudo-subtitulo {
    color: #fff;
}

.dark .titulo-carteira {
    color: #a87dff;
}

.dark .dstk:hover {
    background-color: #a980fc;
    box-shadow: 0px 3px 5px 1px #00000034;
    color:#000;
}

.dark th {
    color:#fff;
    background-color: #482885;
}

.dark #celula-saldo-valor {
    color: #fff;
}

.dark .conteudo-cadastro {
    display: flex;
    flex-direction: column;
    background:#482885;
    gap: 5px;
    padding: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: start;
    color:#fff;
}

.dark .botoes {
    font-family: 'Montserrat', sans-serif;
    color: #a87dff;
    background-color: #222;
    border-color: transparent;
    padding: 7px;
    cursor: pointer;
    font-weight: 700;
    animation: btn-light-to-dark 0.3s ease-in-out;
}


/* Começo da responsividade */

@media screen and (max-width: 1215px) {

/* Responsividade do Cabecalho */    

.cabecalho {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #141034;
    padding: 10px;
    padding-left: 15px;
    padding-right: 30px;
    gap: 20px;
}

#logonav {
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: end;
    background: #141034;
    padding: 10px;
    padding-left: 0px;
    padding-right: 0px;
    gap: 30px;
}

.cabecalho-menu-item a {
    color: #a87dff;
    text-shadow: 1px 3px 7px #000;
}

#cabecalho-menu-item a:hover {
    color:#fff;
    text-shadow: 3px 3px 7px #e0e0e048;
    font-weight: 700;
}

.menu-button-container {
    display: flex;
    background-color: #4818a3;
    padding: 18px;
    border-radius: 5px;
}

.cabecalho-menu {
    position: absolute;
    top: 0;
    margin-top: 105px;
    left: 0px;
    flex-direction: column;
    width: 45%;
    align-items: center;
    background-color: #444444ef;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 10px 10px 10px 1px #00000034;
    text-shadow: 3px 3px 7px #000000c2;
}

#menu-toggle ~ .cabecalho-menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

#menu-toggle:checked ~ .cabecalho-menu li {
    width: 75%;
    height: 3.5em;
    padding-left: 3px;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

#menu-toggle:checked ~ .cabecalho-menu #cabecalho-menu-item {
    border-bottom: 1px solid #ffffff62;
}

.cabecalho-menu > li {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0;
    padding: 0.5em 0;
    color: #bd86fc;
}

.cabecalho-menu > li:not(:last-child) {
    border-bottom: 1px solid #fff;
}

.cabecalho-menu-item {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 13px;
}



/* Responsividade Resumo da Carteira */

.conteudo {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
}

.conteudo-titulo {
    display: flex;
    flex-direction: row;
    justify-content:start;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-weight: 600;
    font-size: 15px;
    padding-bottom: 0px;
    padding-left: 2%;
    padding-top: 30px;
}

.conteudo-subtitulo {
    display: none;
}

.titulo-carteira {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 5px;
    padding-left: 15px;
}

.tabela thead {
    display: none;
}

.tabela td {
    display: flex;
    justify-content: space-between;
    padding-bottom: 6px;
}

.tbody {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.tabela tr {
    display: block;
    background-color: #555;
    width: 100%;
    color: #bd86fc;
    font-size: 13px;
    font-weight: 600;
}

.tabela td:first-of-type {
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    display: block;
    background-color: #222;
    border-radius: 5px;
    color: #a87dff;
}

.tabela td:not(:first-of-type):before {
    content: attr(data-label);
    display: block;
    font-weight: 400;
    color: #fff;
    font-size: 13px;
}

.tabela th {
    width: 53.5%;
}

.tabela {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    justify-content: center;
}

#dstk2 {
    background-color: transparent;
}

.dstk {
    background-color: #0000009a;
    box-shadow: 0px 3px 5px 1px #00000034;
    border-radius: 5px;
    text-shadow: 3px 3px 7px #000000c2;
}

.dstk:hover {
    background-color: #141034;
    box-shadow: 0px 3px 5px 1px #00000034;
    border-radius: 5px;
}

.tabela tr {
    border-radius: 5px;
    box-shadow: 0px 3px 5px 1px #00000034;
    text-shadow: 3px 3px 7px #000000c2;
}

/* Responsividade Cadastro */

.titulo-cadastro {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding-bottom: 5px;
    font-size: 13px;
}
.conteudo-cadastro {
    display: flex;
    flex-direction: column;
    background:#333333d3;
    gap: 3px;
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    color:#fff;
    font-size: 11px;
}

.conteudo-cadastro {
    border-radius: 15px 15px 15px 15px;
    box-shadow: 10px 10px 10px 1px #00000034;
}

form input, form textarea {
    padding: 5px;
    border: 1px solid #888;
    border-radius: 5px;
    box-shadow: 0px 1px 3px 1px #0000002c;
}

.dark .conteudo-cadastro {
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 30px;
    text-align: center;
    font-size: 11px;
}

.dark .tabela td:first-of-type {
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    display: block;
    background-color: #482885;
    border-radius: 5px 5px 0px 0px;
    color: #fff;
}

.dark .tabela td {
    background-color: #444;
}

}

@keyframes dark-to-light {
    0% {
        background-color: #222;
    }

    100% {
        background-color: #fff;
    }
}

@keyframes light-to-dark {
    0% {
        background-color: #fff;
    }

    100% {
        background-color: #222;
    }
}

@keyframes btn-dark-to-light {
    0% {
        background-color: #222;
    }

    100% {
        background-color: #999;
    }
}

@keyframes btn-light-to-dark {  
        0% {
            background-color: #999;
        }

        100% {
            background-color: #222;
        }


}